@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        top: -7px;
        left: 0;
        z-index: -1;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
}

@mixin menu_circle {
    &::before {
        content: '';
        position: absolute;
        top: 30%;
        left: -12.5%;
        width: 15px;
        height: 15px;
        border: solid 1px #000000;
        border-radius: 100%;
        transition: all 0.5s;
    }
}

@mixin small_circle {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -7px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: $main-color;
    }
}

@mixin vertical_line {
    &:after {
        content: '';
        width: 1px;
        height: calc(100% + 15px);
        background-color: #000000;
        position: absolute;
        top: -15px;
        left: 0;
    }
}

@mixin horizontal_line {
    &::before {
        content: '';
        width: 45px;
        height: 1px;
        background-color: #000000;
        position: absolute;
        top: 64px;
        left: 0;
    }
}
