.btn {
    height: 45px;
    max-width: 220px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}