.price {
    padding-top: 65px;
    &__wrapper {
        padding-top: 60px;
        display: grid;
        grid-template: repeat(2, minmax(45px, auto)) / repeat(2, minmax(370px, auto));
        grid-auto-rows: minmax(45px, auto);
        row-gap: 20px;
        justify-content: space-between;
    }
    &__item {
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        justify-content: space-between;
        align-content: space-between;
        &_title {
            position: relative;
            padding-left: 25px;
            @include small_circle;
        }
        &_price {
            justify-self: end;
        }
        &_descr {
            padding-left: 25px;
            font-size: 12px;
            line-height: 18px;
            grid-column: 1 / 3;
        }
    }
}