.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main-bg.jpg') no-repeat 50%/cover;
    padding-top: 210px;
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 1;
        @include before_circle;
    }
    &__btns {
        margin-top: 45px;
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        height: 45px;
        font-size: 14px;
        line-height: 16px;  
        padding: 12px 25px;
        border: solid 3px $main-color;
        color: #ffffff;
        font-weight: bold;
        box-shadow: inset 0px 0px 20px 5px rgba(255, 165, 1, .15);
        transition: all 0.5s;
        &:hover {
            text-decoration: none;
            background: $main-color;
            color: #000000;
        }
    }
}