.skills {
    margin-top: 120px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        border: 1px solid #000000;
        padding: 30px 30px 25px 30px;
        .title {
            margin-top: 20px;
        }
        &-descr {
            margin-top: 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }
    &__counter {
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 70px);
        grid-auto-rows: minmax(70px, auto);
        column-gap: 45px;
        row-gap: 30px;
        &__item {
            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                @include before_circle;
                padding-left: 14px;
            }
            &-interest {
                font-size: 14px;
                line-height: 21px;
            }
            &-body {
                margin-top: 27px;
                width: 100%;
                height: 14px;
                background: #f1d9b4;
                border-radius: 4px;
                span {
                    display: block;
                    height: 100%;
                    background: $main-color;
                    border-radius: 4px;
                }
            }
        }
    }
}